[tool.poetry]
name = "pfhedge"
version = "0.20.0"
description = "Deep Hedging in PyTorch"
authors = ["Shota Imaki <shota.imaki.0801@gmail.com>"]
license = "MIT"
repository = "https://github.com/pfnet-research/pfhedge"

[tool.poetry.dependencies]
python = "^3.8"
torch = ">=1.9.0,<3.0.0"
tqdm = "^4.62.3"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
black = "21.9b0"
isort = "^5.9.3"
mypy = "0.920"
pytest-cov = "^3.0.0"
Sphinx = "^4.2.0"
sphinx-autobuild = "^2021.3.14"
sphinx-copybutton = "^0.4.0"
furo = "^2021.9.22"
codecov = "^2.1.12"
pysen = "^0.10.3"
click = "8.0.4"
flake8 = "4.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = ["gpu: tests using gpu"]

[tool.pysen]
version = "0.10"
builder = "lint.py"

[tool.pysen.lint]
enable_black = true
enable_flake8 = true
enable_isort = true
enable_mypy = true
mypy_preset = "entry"
line_length = 88
py_version = "py37"
#isort_known_first_party = ["pfhedge"]

[[tool.pysen.lint.mypy_targets]]
  paths = ["pfhedge"]

[tool.pysen.lint.source]
  includes = ["."]
  excludes = ["examples/", "docs/"]

[tool.black] # automatically generated by pysen
# pysen ignores and overwrites any modifications
line-length = 88
target-version = ["py37"]

[tool.isort] # automatically generated by pysen
# pysen ignores and overwrites any modifications
ensure_newline_before_comments = true
force_grid_wrap = 0
force_single_line = true
include_trailing_comma = true
known_first_party = ["pfhedge"]
line_length = 88
multi_line_output = 3
use_parentheses = true
