name: Publish

on:
  release:
      types: [published]
  workflow_dispatch:

jobs:

  publish:

    name: Publish

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2

    - run: pip install poetry

    - run: poetry publish --build --username ${{ secrets.PYPI_USERNAME }} --password ${{ secrets.PYPI_PASSWORD }}
